<!--Stick with all the 6 joints-->
<launch>
  <arg name="start_trajectory_controller" default="false" doc="Should we load the joint trajectory controller?" />
  <arg name="controller_gui" default="true" doc="Load joint trajectory controller gui."/>
  <arg name="controller_manager_gui" default="true" doc="Load the controller manager gui."/>
  <arg name="plot" default="false" doc="Load plots."/>
  <arg name="log_bug_info" default="false" doc="Log bug debug info to console."/>
  <arg name="sparse_bug_info" default="true" doc="Only log bug debug info of joint 1."/>
  <arg name="gravity_compensation" default="true" doc="Enable the gravity compensator."/>

  <!--Stick parameters-->
  <arg name="load_several_sticks" default="false" doc="Load several sticks."/>
  <arg name="initial_joint_positions" doc="Initial joint configuration of the Stick. Specify as a list of name/value pairs in form of '-J [name-of-joint] [value-in-rad]'. Default is a 90 degree bend in the elbow" default="
            -J stick_joint1 0
            -J stick_joint2 0
            -J stick_joint3 0
            -J stick_joint4 -1.57079632679
            -J stick_joint5 0
            -J stick_joint6 1.57079632679
            -J stick_joint7 0.785398163397"/>
  <arg name="rotated" default="false" doc="Load rotated bugged configuration. Only works when load_several_sticks is `false`."/>

  <!--Gazebo Parameters-->
  <arg name="gazebo" default="true" doc="Should the gazebo simulation be launched? Use false in case if you want to include this file and launch gazebo yourself" />
  <arg name="paused" default="true" doc="Should the simulation directly be stopped at 0s?" />
  <arg name="rviz" default="false" doc="Should RVIz be launched?" />
  <arg name="world" default="worlds/stick.world" doc="Filename to a SDF World for gazebo to use" />
  <arg name="physics" default="ode"/> <!--Phyics engine: options are bullet|dart|ode|simbody-->

  <!--Toggle debug options-->
  <param name="log_bug_info" value="$(arg log_bug_info)"/>
  <param name="sparse_bug_info" value="$(arg sparse_bug_info)"/>
  <param name="joint_of_interest" value="5"/>
  <param name="gravity_compensation" value="$(arg gravity_compensation)"/>

  <!--Launch Gazebo-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg gazebo)">
    <arg name="world_name" value="$(arg world)"/>
    <!-- Always start in paused mode, and only unpause when spawning the model -->
    <arg name="paused" value="true"/>
    <arg name="physics" value="$(arg physics)"/>
  </include>

  <!--Load stick-->
  <group unless="$(arg load_several_sticks)" ns="stick">
    <include file="$(find gazebo_torque_calculation_bug)/launch/stick_long.launch.xml">
      <arg name="paused" value="$(arg paused)"/>
      <arg name="initial_joint_positions" value="$(arg initial_joint_positions)"/>
      <arg name="rotated" value="$(arg rotated)"/>
      <arg name="start_trajectory_controller" value="$(arg start_trajectory_controller)"/>
    </include>
  </group>

  <!--Load Sticks-->
  <group if="$(arg load_several_sticks)">
    <group ns="stick">
      <include file="$(find gazebo_torque_calculation_bug)/launch/stick_long.launch.xml">
        <arg name="robot_name" value="stick"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="initial_joint_positions" value="-J stick_joint1 -1.57079632679"/>
        <arg name="rotated" value="false"/>
        <arg name="start_trajectory_controller" value="$(arg start_trajectory_controller)"/>
      </include>
    </group>
    <group ns="stick2">
      <include file="$(find gazebo_torque_calculation_bug)/launch/stick_long.launch.xml">
        <arg name="robot_name" value="stick2"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="y" value="0.15"/>
        <arg name="initial_joint_positions" value="-J stick2_joint1 1.57079632679"/>
        <arg name="rotated" value="false"/>
        <arg name="start_trajectory_controller" value="$(arg start_trajectory_controller)"/>
      </include>
    </group>
    <group ns="stick3">
      <include file="$(find gazebo_torque_calculation_bug)/launch/stick_long.launch.xml">
        <arg name="robot_name" value="stick3"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="y" value="0.30"/>
        <arg name="initial_joint_positions" value="-J stick3_joint1 1.57079632679"/>
        <arg name="rotated" value="true"/>
        <arg name="start_trajectory_controller" value="$(arg start_trajectory_controller)"/>
      </include>
    </group>
    <group ns="stick4">
      <include file="$(find gazebo_torque_calculation_bug)/launch/stick_long.launch.xml">
        <arg name="robot_name" value="stick4"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="y" value="0.45"/>
        <arg name="initial_joint_positions" value="-J stick4_joint1 -1.57079632679"/>
        <arg name="rotated" value="true"/>
        <arg name="start_trajectory_controller" value="$(arg start_trajectory_controller)"/>
      </include>
    </group>
  </group>

  <!--Load rivz and rqt_joint_trajectoy_controllers-->
  <group unless="$(arg load_several_sticks)">
    <node if="$(arg rviz)" pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find gazebo_torque_calculation_bug)/launch/stick.rviz"/>

    <!--Load rqt joint trajectory controller-->
    <node ns="stick" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick1"/>

    <!--Load controller manager gui-->
    <node if="$(arg controller_manager_gui)" pkg="rqt_controller_manager" type="rqt_controller_manager" name="rqt_controller_manager"/>

    <!--Load rqt_plots-->
    <node if="$(arg plot)" pkg="rqt_plot" type="rqt_plot" output="screen" name="effort_rqt_plot" args="/stick/joint_states/effort[0]"/>
  </group>
  <group if="$(arg load_several_sticks)">
    <node if="$(arg rviz)" pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find gazebo_torque_calculation_bug)/launch/sticks.rviz"/>

    <!--Load rqt joint trajectory controller-->
    <group if="$(eval arg('controller_gui') and arg('start_trajectory_controller')">
      <node ns="stick" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick"/>
      <node ns="stick2" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick2"/>
      <node ns="stick3" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick3"/>
      <node ns="stick4" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick4"/>
    </group>

    <!--Load controller manager gui-->
    <node if="$(arg controller_manager_gui)" pkg="rqt_controller_manager" type="rqt_controller_manager" name="rqt_controller_manager"/>

    <!--Load rqt_plots-->
    <node if="$(arg plot)" pkg="rqt_plot" type="rqt_plot" output="screen" name="effort_rqt_plot" args="/stick/joint_states/effort[0] /stick2/joint_states/effort[0] /stick3/joint_states/effort[0] /stick4/joint_states/effort[0]"/>
  </group>
</launch>