<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true" doc="Should the simulation directly be stopped at 0s?" />
  <arg name="robot_name" default="stick" doc="The robot name"/>
  <arg name="rotate_joint1" default="False" doc="Whether you want to use the z-axis of joint 2 as the axis of rotation."/>

  <!--Stick Configuration-->
  <arg name="x" default="0" doc="How far forward to place the base of the stick in [m]?" />
  <arg name="y" default="0" doc="How far leftwards to place the base of the stick in [m]?" />
  <arg name="z" default="0" doc="How far upwards to place the base of the stick in [m]?" />
  <arg name="roll" default="0" doc="How much to rotate the base of the stick around its X-axis in [rad]?" />
  <arg name="pitch" default="0" doc="How much to rotate the base of the stick around its Y-axis in [rad]?" />
  <arg name="yaw" default="0" doc="How much to rotate the base of the stick around its Z-axis in [rad]?" />
  <arg name="initial_joint_positions" doc="Initial joint configuration of the Stick. Specify as a list of name/value pairs in form of '-J [name-of-joint] [value-in-rad]'. Default is a 90 degree bend in the elbow" default="
              -J $(arg robot_name)_joint1 0.0
              -J $(arg robot_name)_joint2 0.0"/>

  <!--Ignition arguments-->
  <arg name="world" default="empty"/>
  <arg name="ign_args" default=""/>

  <!--Launch ignition gazebo-->
  <arg name="unpause" value="$(eval '' if arg('paused') else '-r')" />
  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-v 3 $(arg world).sdf $(arg unpause)"/>
  </include>

  <!--Load stick-->
  <param name="robot_description" command="xacro $(find gazebo_torque_calculation_bug)/stick_description/stick.urdf.xacro xyz:='$(arg x) $(arg y) $(arg z)' rpy:='$(arg roll) $(arg pitch) $(arg yaw)' rotated:='$(arg rotate_joint1)' robot_name:='$(arg robot_name)'"/>

  <!--Add stick to ignitino gazebo-->
  <node
    pkg="ros_ign_gazebo"
    type="create"
    name="$(anon ros_ign_create_sphere)"
    output="screen"
    args="-world $(arg world) -param robot_description -name $(arg robot_name) -allow_renaming true $(arg initial_joint_positions) $(arg unpause)">
  </node>
</launch>
