<launch>
  <!--Stick parameters-->
  <arg name="load_single_stick" default="false"/>
  <arg name="initial_joint_positions" doc="Initial joint configuration of the Stick. Specify as a list of name/value pairs in form of '-J [name-of-joint] [value-in-rad]'. Default is a 90 degree bend in the elbow" default="
              -J stick_joint1 -1.57079632679
              -J stick_joint2 0.0"/>
  <arg name="rotate_joint1" default="false" doc="Only works when load_single_stick is `true`."/>

  <!--Gazebo Parameters-->
  <arg name="gazebo" default="true" doc="Should the gazebo simulation be launched? Use false in case if you want to include this file and launch gazebo yourself" />
  <arg name="paused" default="true" doc="Should the simulation directly be stopped at 0s?" />
  <arg name="rviz" default="false" doc="Should RVIz be launched?" />
  <arg name="world" default="worlds/stick.world" doc="Filename to a SDF World for gazebo to use" />

  <!--Launch Gazebo-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg gazebo)">
    <arg name="world_name" value="$(arg world)"/>
    <!-- Always start in paused mode, and only unpause when spawning the model -->
    <arg name="paused" value="true"/>
  </include>

  <!--Load stick-->
  <group if="$(arg load_single_stick)" ns="stick">
    <include file="$(find gazebo_torque_calculation_bug)/launch/stick.launch.xml">
      <arg name="paused" value="$(arg paused)"/>
      <arg name="initial_joint_positions" value="$(arg initial_joint_positions)"/>
      <arg name="rotate_joint1" value="$(arg rotate_joint1)"/>
    </include>
  </group>

  <!--Load Sticks-->
  <group unless="$(arg load_single_stick)">
    <group ns="stick">
      <include file="$(find gazebo_torque_calculation_bug)/launch/stick.launch.xml">
        <arg name="robot_name" value="stick"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="initial_joint_positions" value="-J stick_joint1 -1.57079632679"/>
        <arg name="rotate_joint1" value="false"/>
      </include>
    </group>
    <group ns="stick2">
      <include file="$(find gazebo_torque_calculation_bug)/launch/stick.launch.xml">
        <arg name="robot_name" value="stick2"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="y" value="0.15"/>
        <arg name="initial_joint_positions" value="-J stick2_joint1 1.57079632679"/>
        <arg name="rotate_joint1" value="false"/>
      </include>
    </group>
    <group ns="stick3">
      <include file="$(find gazebo_torque_calculation_bug)/launch/stick.launch.xml">
        <arg name="robot_name" value="stick3"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="y" value="0.30"/>
        <arg name="initial_joint_positions" value="-J stick3_joint1 1.57079632679"/>
        <arg name="rotate_joint1" value="true"/>
      </include>
    </group>
    <group ns="stick4">
      <include file="$(find gazebo_torque_calculation_bug)/launch/stick.launch.xml">
        <arg name="robot_name" value="stick4"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="y" value="0.45"/>
        <arg name="initial_joint_positions" value="-J stick4_joint1 -1.57079632679"/>
        <arg name="rotate_joint1" value="true"/>
      </include>
    </group>
  </group>

  <!--Load rivz and rqt_joint_trajectoy_controllers-->
  <group if="$(arg load_single_stick)">
    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find gazebo_torque_calculation_bug)/launch/stick.rviz"/>

    <!--Load rqt joint trajectory controller-->
    <node ns="stick" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick1"/>

    <!--Load rqt_plots-->
    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="effort_rqt_plot" args="/stick/joint_states/effort[0]"/>
  </group>
  <group unless="$(arg load_single_stick)">
    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find gazebo_torque_calculation_bug)/launch/sticks.rviz"/>

    <!--Load rqt joint trajectory controller-->
    <node ns="stick" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick"/>
    <node ns="stick2" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick2"/>
    <node ns="stick3" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick3"/>
    <node ns="stick4" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick4"/>

    <!--Load rqt_plots-->
    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="effort_rqt_plot" args="/stick/joint_states/effort[0] /stick2/joint_states/effort[0] /stick3/joint_states/effort[0] /stick4/joint_states/effort[0]"/>
  </group>
</launch>