<launch>
  <!--Stick parameters-->
  <arg name="load_two_sticks" default="false"/>
  <arg name="initial_joint_positions" doc="Initial joint configuration of the Stick. Specify as a list of name/value pairs in form of '-J [name-of-joint] [value-in-rad]'. Default is a 90 degree bend in the elbow" default="
              -J stick_joint1 0.0
              -J stick_joint2 0.0"/>

  <!--Gazebo Parameters-->
  <arg name="gazebo" default="true" doc="Should the gazebo simulation be launched? Use false in case if you want to include this file and launch gazebo yourself" />
  <arg name="paused" default="true" doc="Should the simulation directly be stopped at 0s?" />
  <arg name="rviz" default="false" doc="Should RVIz be launched?" />
  <arg name="world" default="worlds/stick.world" doc="Filename to a SDF World for gazebo to use" />

  <!--Launch Gazebo-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg gazebo)">
    <arg name="world_name" value="$(arg world)"/>
    <!-- Always start in paused mode, and only unpause when spawning the model -->
    <arg name="paused" value="true"/>
  </include>

  <!--Load stick-->
  <group ns="stick">
    <include file="$(find gazebo_torque_calculation_bug)/launch/stick.launch.xml">
      <arg name="paused" value="$(arg paused)"/>
      <arg name="initial_joint_positions" value="$(arg initial_joint_positions)"/>
    </include>
  </group>
  <group if="$(arg load_two_sticks)" ns="stick2">
    <include file="$(find gazebo_torque_calculation_bug)/launch/stick.launch.xml">
      <arg name="robot_name" value="stick2"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="y" value="0.15"/>
      <arg name="initial_joint_positions" value="$(arg initial_joint_positions)"/>
      <arg name="rotate_joint1" value="true"/>
    </include>
  </group>

  <!--Load rivz and rqt_joint_trajectoy_controllers-->
  <group unless="$(arg load_two_sticks)">
    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find gazebo_torque_calculation_bug)/launch/stick.rviz"/>

    <!--Load rqt joint trajectory controller-->
    <node ns="stick" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick1"/>

    <!--Load rqt_plot plugin-->
    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/stick/joint_states/effort[0]"/>
  </group>
  <group if="$(arg load_two_sticks)">
    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find gazebo_torque_calculation_bug)/launch/sticks.rviz"/>

    <!--Load rqt joint trajectory controller-->
    <node ns="stick" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick"/>
    <node ns="stick2" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" output="screen" name="rqt_joint_trajectory_controller_stick2"/>

    <!--Load rqt_plot plugin-->
    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/stick/joint_states/effort[0] /stick2/joint_states/effort[0]"/>
  </group>
</launch>